/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }
  body{
    margin:10px;
  }
  .container{
    width: 900px;
    margin: 0px auto;
    position: relative;   
    }

    h1{
        font-size: 30px;
        color: #066a75;
        padding: 10px 0;
        font-family: Arial,sans-serif;
        font-weight: bold;
        text-align: center;
        padding-bottom: 30px;
      }
      h1:after{
        content: ' ';
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 10px;
        background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
        background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
      }

      label{
        color: #405c60;
        position: relative;
        padding: 8px;
      }

      ::-webkit-input-placeholder  {
        color: #bebcbc; 
        font-style: italic;
      }
      input:-moz-placeholder,
      textarea:-moz-placeholder{
      color: #bebcbc;
      font-style: italic;
      } 

      input {
        outline: none;
      }
      
      input{
        width: 95%;
        margin-top: 4px;
        padding: 10px;    
        border: 1px solid #b2b2b2;
        
        -webkit-border-radius: 3px;
        border-radius: 3px;
        
        -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      button[type="submit"]{
        width: 100%!important;
        cursor: pointer;  
        background: #3d9db3;
        padding: 8px 5px;
        color: #fff;
        font-size: 20px;  
        border: 1px solid #fff;   
        margin-bottom: 10px;  
        text-shadow: 0 1px 1px #333;
        padding: 10px;
        
        -webkit-border-radius: 5px;
        border-radius: 5px;
        
        transition: all 0.2s linear;
      }
      button[type="submit"]:hover{
        background: #4ab3c6;
      }

  div.mensagem-senha {

    width: 420px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250, 128, 144, .3);
 
  }
  a{
   background-color:  #3d9db3;;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 60px;
  
    border-radius: 40px;
    color: white;
}
a:hover{

    text-decoration: underline;
    background-image: linear-gradient( 90.1deg,  rgba(158,252,203,1) 16.8%, rgba(63,100,255,1) 105.2% );
    


}