*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( 90.1deg,  rgba(158,252,203,1) 16.8%, rgba(63,100,255,1) 105.2% );

    color: white;
    

}
input{

    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    font-size: 16pt;
    padding: 10px 20px;
    border: 1px solid white;
    outline: none;
    text-align: center;

}


.form-body{

    width: 400px;
    margin: 150px  auto 0 auto;

}
h1{

    text-align: center;
    padding: 20px;
    font-size: 40pt;
   
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}
a:hover{

    text-decoration: underline;
}

input[type=submit]{

   background-image: linear-gradient(to right, #141E30 0%, #243B55 51%, #141E30 100%);
   background-position: center; 
   color:White;
   border: none;
   cursor: pointer;
 
}
